<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="report.css">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Speed comparison</a>
        </div>

        <div class="collapse navbar-collapse" id="main-navbar">
          <ul class="nav navbar-nav navbar-filter">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Engines <span class="caret"></span></a>
              <ul class="dropdown-menu js-engine-list"></ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Implementations <span class="caret"></span></a>
              <ul class="dropdown-menu js-implementation-list"></ul>
            </ul>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/natorion/speed-comparison">Fork me on GitHub</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid initial-hide">
    <table>
      <caption>Performance of JavaScript patterns compared to their alternatives</caption>
      <thead>
        <tr>
          <td colspan="2"></td>
          {{#each browsers}}
            <th class="browser-first {{tag}}" colspan="{{versions.length}}">{{name}}</th>
          {{/each}}
        </tr>
        <tr>
          <td colspan="2"></td>
          {{#each browsers}}
            {{#each versions}}
              <th class="{{#if @first}}browser-first{{/if}} {{tag}}">{{display}}</th>
            {{/each}}
          {{/each}}
        </tr>
      </thead>

      <tbody>
        {{#each tests as |test|}}
          {{#each types}}
            <tr {{#if @first}}class="feature-row" id="test-{{test.name}}"{{/if}}>
              {{#if @first}}
                <th rowspan="{{test.types.length}}">
                  {{test.display}}
                  <a class="test-link" href="https://github.com/natorion/speed-comparison/tree/master/tests/{{test.name}}">tests</a>
                </th>
              {{/if}}
              <th class="{{clazz}}">{{name}}</th>

              {{#each results}}
                <td class="{{clazz}}">{{{text}}}</td>
              {{/each}}
            </tr>
          {{/each}}
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="container initial-hide">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title">Testing methodology</h2>
      </div>

      <div class="panel-body">
        <p>
          A slow JavaScript pattern is compared to faster alternatives. ES5 is
          always the slow one. ES6 is the alternative. Why the strange naming? 
          The test driver was forked from the six-speed benchmark.
        </p>
      </div>
    </div>
    </div>

    <noscript>
      <style>
        .initial-hide { display: block; }
        .navbar-filter { display: none; }
      </style>
    </noscript>

    <script>
      var REPORT_DATA = {{{reportData}}};
    </script>

    <script src="report.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-15628919-5', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
